@keyframes fadde {
    from {
        opacity: 0;
        margin-bottom: -10px;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        margin-bottom: -10px;
    }

    to {
        opacity: 1;

    }
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    animation: fade 3s ease-in-out;
}



.main {
    background-color: rgba(206, 204, 204, 0.297);
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.main .name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22vw;
    background: linear-gradient(to top, rgba(206, 204, 204, 0.297), rgb(91, 90, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadde 2s ease-in;
}

.main h2 {
    position: absolute;
    top: 1%;
    animation: fade 3s ease-in-out;
}

.profile {
    position: absolute;
    bottom: 0;
    animation: fadde 3s ease-in-out;
}

.main .p1 {
    position: absolute;
    top: 5%;
    right: 0;
    width: 100vw;
    font-size: 15px;

}

.explore {
    position: absolute;
    right: 20%;
    font-size: 20px;
    bottom: 10%;
    background: linear-gradient(to bottom, black, rgba(189, 188, 188, 0.195));
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 10px 70px;

}

.sec {
    min-height: 110%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.612), rgba(0, 0, 0, 0.881));
}

.sec1 {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 30px;
    overflow: clip;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.612), rgb(0, 0, 0));
}

.sec2 {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 30px;
    overflow: clip;
    align-items: center;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.612),black);
}
.sec1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    margin-top: -10px;
    background: linear-gradient(to top, rgba(157, 157, 157, 0.612), rgba(0, 0, 0, 0.881));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.sec span {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    font-weight: 800;
    text-align: left;

}

.acontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aimg img {
    max-width: 29vw;
}

.ab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.ababu {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    background-color: rgb(65, 65, 65);
    padding: 20px;
    animation: fade 4s ease-in-out;
}

@media (max-width:750px) {
    svg {
        display: none;
    }

}

.ababu p {
    color: aliceblue;
    font-size: 17px;
    width: 90%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    animation: fade 3s ease-in-out;
}

.about .l {
    color: #ff0000;
}

.sec1 p {
    color: rgba(255, 255, 255, 0.933);
    font-size: 20px;
    width: 70%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.sec1 svg {
    position: absolute;
    width: 60%;
    top: -26%;  
    right:16%;


    animation: fadde 3s ease-in-out;
    z-index: -1;
}

/* Add styles for hidden and visible items */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
.sec2 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    margin-top: 30px;
    z-index: 1;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(97, 96, 96, 0.762));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec2 p {
    color: rgba(212, 212, 212, 0.758);
    font-size: 20px;
    width: 70%;
    z-index: 1;
    font-weight: 530;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.skills{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 50vh;
    width: 90vw;
    background: rgba(0, 0, 0, 0.316);
}

.skills h2{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 5%;
    left:6%;
}
.skills h2 .l{
    color: rgb(255, 32, 32);
    border-bottom:2px red solid ;
}
